LectureApp/.vs
LectureApp/LectureApp/obj
LectureDll/.vs
LectureDll/LectureDll/obj
LectureDll/LectureDll/bin
LectureApp/LectureApp/bin/Debug/LectureApp.exe
LectureApp/LectureApp/bin/Debug/LectureApp.exe.config
LectureApp/LectureApp/bin/Debug/LectureApp.pdb
